h1 {
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

h4{
    text-align: center;
}

p{
    text-align: center;

}

.assignmentName {
    text-align: center;
    font-size: 22px;
}

.assignmentDesc {
    text-align: center;
    font-size: 16px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }